/* this is start/Login */
.login{
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
  }
  .input{
    border: none;
    /* for placeholder padding-left : 295-20px =275px */
    width: 275px;
    height: 48px;
    border-radius:5px;
    padding-left: 20px;
  }
  .ctaBtn{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    height: 56px;
    border-radius:5px;
    width: 295px;
    background-color: #A6A6A6;
    box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, 0.1);
  }
  .submit{
    margin-top: 16px;
  }
  .findIdPw{
    font-size: 13px;
    color: #A6A6A6;
  }
  .bottomSignup{
    font-size: 14px;
    display: flex;
    gap: 10px;
    margin-top: 130px;
  
  }
  .btnSignup{
    color: #FFA800;
    text-decoration: underline;
    /* / js 에서 link underline 리우고 text-underline 을 넣음 */
    /* text-decoration: none; */
  }
  