/* this is start/SignUp */
.SignUpForm{
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .topBar{
    display: flex;
    width: auto;
    min-height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
  }
  .backBtn{
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(../assets/backBtn.svg);
    cursor: pointer;
    background-repeat : no-repeat;
    background-position: left;
  }
  .typeInGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 60px;
    padding-bottom: 56px;
  }
  .inputTitle{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .title{
    font-size: 18px;
    font-weight: 700;
  }
  .phonNumber{
    display: flex;
    width: 295px;
    gap: 8px;
  }
  .phonNumber > input {
    width: 100%;
  
  }
  .subBtn{
    height: 100%;
    border: none;
    background-color: transparent;
    color: #A6A6A6;
    font-weight: 700;
    cursor: pointer;
  
  }