
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: url('./styles/fonts/NotoSansKR-Light.otf') format('woff2'),
    url('./styles/fonts/NotoSansKR-Light.otf') format('woff'),
    url('./styles/fonts/NotoSansKR-Light.otf') format('truetype');
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 가로 세로 중앙정렬 */
  margin: 0 auto;
  width: 375px;
  height: 812px;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('./styles/fonts/NotoSansKR-Regular.otf') format('woff2'),
    url('./styles/fonts/NotoSansKR-Regular.otf') format('woff'),
    url('./styles/fonts/NotoSansKR-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('./styles/fonts/NotoSansKR-Medium.otf') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: url('./styles/fonts/NotoSansKR-Bold.otf') format('woff2'),
    url('./styles/fonts/NotoSansKR-Bold.otf') format('woff'),
    url('./styles/fonts/NotoSansKR-Bold.otf') format('truetype');
}
* {
  font-family: 'Noto Sans KR', sans-serif;
}
/* this is start/Splash */
.splash{
  width: 100%;
  height: 100vh;
  background-color: #FFA800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.splashLogo{
  width: 111px;
  height: 107px;
  background-image: url(./assets/splashLogo.svg);
}
.splashTitle{
  color: #ffffff;
  text-align: center;
  margin-top: 0;
}

